<%=link_to "Sign Up", sign_up_path%>
<%= link_to "Sign In", sign_in_path %>

<br />

<%= link_to "Create Post", new_post_path %>

<h1>Todays Posts</h1>

<%= @posts.each do |post| %>
<%= link_to post.title, post_path(post) %>
<%= post.content %>
<% end %>
